<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>The Automated World</title>
  <meta property="og:type" content="website">
  <meta property="og:description" content="How difficult is it to stay ahead of automation?">
  <meta property="og:title" content="The Automated World">
  <meta property="og:image" content="{{ url_for('static', filename='shot.png', _external=True) }}">
  <meta name="twitter:image" content="{{ url_for('static', filename='shot.png', _external=True) }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="The Automated World">
  <meta name="twitter:description" content="How difficult is it to stay ahead of automation?">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="pregame">
    <main id="main"></main>
    <script src="https://browser.sentry-cdn.com/4.6.4/bundle.min.js" crossorigin="anonymous"></script>
    <script>
        Sentry.init({ dsn: 'https://4785ce2480c64bf9a45efb0f33447707@sentry.io/1420818' });
    </script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
